@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination-a {
    @apply text-indigo-400 hover:text-indigo-700 px-4 h-8 mr-2 flex items-center justify-center rounded-lg;
}

.pagination-active-a {
    @apply bg-indigo-800 hover:bg-indigo-400 text-white px-4 h-8 mr-2;
}

.btn {
    @apply border-2 rounded;
}

.btn-sm {
    @apply px-4 py-2;
}

.btn-md {
    @apply px-6 py-3;
}

.btn-lg {
    @apply px-8 py-4;
}

.main-panel-menu {
    @apply w-1/3 text-center border-b-2 text-xl;
}

.comment-panel-profile {
    @apply h-8 w-8 rounded-full mr-2;
}

.toast-half {
    @apply w-1/2 p-2 text-white;
}

.avatar {
    @apply h-8 w-8 rounded-full;
}

.avatar-xs {
    @apply h-4 w-4 rounded-full;
}

.avatar-sm {
    @apply h-6 w-6 rounded-full;
}

.avatar-lg {
    @apply h-12 w-12 rounded-full;
}

.avatar-xl {
    @apply h-14 w-14 rounded-full;
}

.avatar-img {
    @apply relative h-full w-full rounded-full;
}

@keyframes mymove {
    from {width: 0;}
    to {width: 100%;}
}

.animate-line-load {
    animation: mymove 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}